*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-toggle{
    display: none;
}

#navbar{
    height: 200px;
    background-image: url("./images/navbar.avif");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    
}

#navbar img{
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
}

#navbar ul{
    display: flex;
    list-style-type: none;
}

#navbar ul a{
    margin: 0 20px;
    text-decoration: none;
    color: yellow;
}

main{
    background-color: rgb(201, 239, 239);
    background-image: url("./images/sfondo4.avif");
    background-position: center;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.jumbotron h1{
    margin-top: 10px;
}

.jumbotron h1:hover{
    color: red;

}

#chisiamo{
    width: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;
}

.button{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.btn{
    border-radius: 10px;
    border: 2px solid black;
    
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
}

.btn-primary:hover{
    color: red;
    font-weight: bolder;
}

.btn-secondary:hover{
    color: red;
    font-weight: bolder;
}


.section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-1 img{
    height: 300px;
    border-radius: 100px;
    margin: 20px 20px;
}
.div1{
    width: 500px;
    text-align: center;
    margin: 20px 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;
    color: white;
}
.div2{
    width: 500px;
    text-align: center;
    margin: 20px 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;
}

.section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-2 img{
    height: 300px;
    border-radius: 100px;
    margin: 20px 20px;
}

#scopri{
    padding-bottom: 20px;
}

#scopri h2{
    display: flex;
    justify-content: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

.box-card{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.card{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1{
background-image: url("./images/card1.avif");
}

.card p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;
}

.card1 p:hover{
    font-weight: bolder;
    font-size: 30px;
}

.card2{
    background-image: url("./images/card2.avif");

}

.card2 p:hover{
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

.card3{
    background-image: url("./images/card3.avif");
}

.card3 p:hover{
    font-weight: bolder;
    font-size: 40px;
}

footer{
    background-color: gray;
}

.prima-parte{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.pagine ul, .link ul{
    margin-top: 20px;
    list-style-type: none;
}

.seconda-parte{
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 5px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1025px){

    
    #navbar img{
        height: 50px;
    }

    #navbar ul a{
        font-size: 10px;
    }

    

    main{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    #chisiamo{
        width: 400px;
    }

    .btn{
        font-size: 25px;
    }

    .section-1{
        display: flex;
        flex-direction: column;
    }

    .imgdiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div1{
        width: auto;
    }

    .section-2{
        display: flex;
        flex-direction: column-reverse;
    }

    .imgdiv2{
        margin: 0 auto;
    }

    .div2{
        width: auto;
        margin: 0 auto;
    }

    .div2 p{
        width: 450px;
    }

    .card{
        width: 150px;
    }

  }

@media only screen and (max-width: 430px) {
    
    
    #navbar img {
        height: 100px;
        margin: 0 auto;
    }
    #navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        background-color: #333;
        z-index: 1;
        transform: translateX(50%);
    }

    #navbar ul a {
        padding: 10px;
        text-align: center;
        color: yellow;
        display: block;
    }

    #navbar:hover ul {
        display: flex;
    }

    /* Stile per il pulsante del menu (hamburger icon) */
    .menu-toggle {
        display: block;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 20px;
        color: white;
        margin-right: 20px;
        margin-bottom: 180px;
    }

    main{
        background-repeat: no-repeat;
        background-size: cover;
    }

    #chisiamo{
        width: 300px;
        
    }

    .btn{
        font-size: 20px;
    }

    .section-1{
        display: flex;
        flex-direction: column;
    }

   .imgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .div1{
    width: auto;
   display: flex;
   flex-direction: column;
   }

   .section-2{
    display: flex;
    flex-direction: column-reverse;
    
    }
   .div2{
    width: auto;
   display: flex;
   flex-direction: column;
   }


    .imgdiv2{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .box-card{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card{
        margin: 0 auto;
    }
  }

  